.overlay__background{
    display: none;
}

.img__background {
    background-image: url(../assets/tablet/image-host.jpg);
    width: 68%;
    background-size: contain;
    left: 35%;
}

header{
    padding-left: 39px;
    padding-bottom: 155px;
    max-width: 35%;
    background: #121725;
}

header .logo{
    margin: 0
}

main{
    background: #121725;
    max-width: 87%;
    padding-top: 50px;
}

.hero__text{
    padding: 5%;
}
.hero__text h1{
    font-size: 48px;
    text-align: left;
    line-height: 56px;
}
.hero__text p{
    font-size: 18px;
    text-align: left;
    max-width: 67%;
}
.hero__form input{
    display: inline;
    width: 427px;
    height: 56px;
}
.hero__form input[type="submit"]{
    width: 162px;
    height: 46px;
    margin-left: -170px;
}